*
{
    /* font-family: "brandon-grotesque",sans-serif; */
    font-family: "Comic Sans MS", "Comic Sans";
}

body
{
    margin: 0;
    padding: 0;
    position: relative;
}

#canvas
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}