*
{
    /* font-family: "brandon-grotesque",sans-serif; */
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 22px;

    --arrow-scale: 1;
}

@media screen and (max-height: 700px)
{
    * 
    {
        font-size: 18px;
    }

    .arrow
    {
        --arrow-scale: 0.6;
    }
}

body
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#loading-screen, #landscape-overlay
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5%;

    z-index: 100000;

    background-color: white;
}

#loading-screen *
{
    margin: 2%;
}

#loading-screen img
{
    height: 50%;
}

h1
{
    font-size: 40px;
}

h2
{
    font-size: 30px;
}

#background
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;

    background-color: gray;
}

#background img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

#interaction
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (orientation: landscape)
{
    #interaction
    {
        justify-content: center;
    }
}

#dialogue
{
    width: 80%;
    max-width: 800px;
    min-height: 150px;
    margin: 7vh;
    
    background: #fff4c2;
    padding: 18px;

    border-style: ridge;
    border-color: rgb(30, 100, 24);
    border-width: 10px;

    border-radius: 20px;
    z-index: 200;

    box-shadow: 20px 15px 0 rgba(0, 0, 0, 0.3);
}

#dialogue p
{
    margin: 0;
}

#character
{
    margin: 9vh;
    width: 80%;
    max-width: 300px;
    z-index: 100;
    
    box-shadow: 20px 15px 0 rgba(0, 0, 0, 0.3);
}

.unselectable 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* invisible to clicks */
    pointer-events: none;
}

/* make children clickable again */
.unselectable *
{
    pointer-events: all;
}

.undraggable
{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#arrow-container
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.arrow
{
    opacity: 0.65;
    /* filter: drop-shadow(20px 15px 0 rgba(0, 0, 0, 0.3)); */
}

.arrow:hover
{
    opacity: 1;
}

#arrow-top-center
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;

    transform: rotate(-90deg) scale(calc(0.4 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-bottom-center
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;

    transform: rotate(90deg) scale(calc(0.45 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-center-right
{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    top: 0;
    bottom: 0;

    transform: scale(calc(0.4 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-center-left
{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    top: 0;
    bottom: 0;

    transform: scale(calc(-0.4 * var(--arrow-scale)), calc(0.4 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-top-right
{
    position: absolute;
    right: 0;
    top: 0;

    transform: rotate(140deg) scale(calc(-0.35 * var(--arrow-scale)), calc(0.35 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-top-left
{
    position: absolute;
    left: 0;
    top: 0;

    transform: rotate(230deg) scale(calc(0.35 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-bottom-left
{
    position: absolute;
    left: 0;
    bottom: 0;

    transform: rotate(135deg) scale(calc(0.4 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}

#arrow-bottom-right
{
    position: absolute;
    right: 0;
    bottom: 0;

    transform: rotate(225deg) scale(calc(-0.4 * var(--arrow-scale)), calc(0.4 * var(--arrow-scale))); /* Equal to rotateZ(45deg) */
}


@media screen and (max-height: 700px)
{
    #arrow-top-center
    {
        transform-origin: 45% 34%;
    }

    #arrow-bottom-center
    {
        transform-origin: 44% 65%;
    }

    #arrow-center-right
    {
        transform-origin: 88% 50%;
    }

    #arrow-center-left
    {
        transform-origin: 30% 50%;
    }

    #arrow-top-right
    {
        transform-origin: 94% 23%;
    }

    #arrow-top-left
    {
        transform-origin: 20% 45%;
    }

    #arrow-bottom-left
    {
        transform-origin: 30% 60%;
    }

    #arrow-bottom-right
    {
        transform-origin: 78% 69%;
    }

}

.hidden
{
    visibility: hidden;
}

#background-characters
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#background-characters > img
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}