
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maturzitig 4A</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- background -->
    <div class="background">
        <img class="background-image" src=<%= background %> alt="bg image not found">
    </div>

    <div class="game">
        <!-- text -->
        <div class="dialogue">
            <p><%= text %></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="game.js"></script>
</body>
</html>